html {background-color: rgb(33, 33, 33);}

h1 {color: white;}

h2 {color: white;}

h3 {color: white;}

h4 {color: white;}

h5 {color: white;}

h6 {color: white;}

p {color: white;}

.box {
    width: 200px;
    height: 200px;
    background-color: green;
    color: white;
    margin: 10px;
    padding: 10px;
    border: 2px solid white;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 50%;
    height: 10%;
    padding: 5%;
}

.small_center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 10%;
    height: 2%;
    padding: 1%;
}

button {
    background-color: rgb(68, 68, 68);
    color: white;
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
}