html {background-color: black;}

h1 {color: white;}

h2 {color: white;}

h3 {color: white;}

h4 {color: white;}

h5 {color: white;}

h6 {color: white;}

p {color: white;}

.box {
    width: 200px;
    height: 200px;
    background-color: green;
    color: white;
    margin: 10px;
    padding: 10px;
    border: 2px solid white;
    float: left;
}